
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Dân tộc Khmer</h2>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /content-6-->
<section class="w3l-content-6">
    <!-- /content-6-main-->
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/images/bandoTV.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-4">
                    <div class="title-content text-left mb-2">
                        <h3 class="hny-title">
                            Lịch sử và địa lý
                        </h3>
                    </div>
                    <p class="mt-3">
                        <ul>
                            <li>- Ở Việt Nam, dân tộc Khmer chủ yếu tập trung ở miền Tây Nam Bộ, như các tỉnh Sóc Trăng, Trà Vinh, Kiên Giang và một số vùng lân cận khác.</li>
                            <li>- Dân tộc Khmer được biết đến là một trong những dân tộc cổ nhất ở Đông Nam Á, với lịch sử kéo dài hàng ngàn năm. Dân tộc Khmer đã trải qua nhiều thăng trầm và thay đổi trong quá trình lịch sử, từ việc xây dựng nền văn minh Angkor hùng mạnh cho đến những khó khăn và thách thức của thế kỷ 20.</li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-6 mt-5 about-right-faq align-self order2">
                    <div class="title-content text-left mb-2">
                        <h3 class="hny-title">Ngôn ngữ và Văn hóa</h3>
                    </div>
                    <p class="mt-3">
                       <ul>
                           <li>- Tiếng Khmer, thông tục gọi là ភាសាខ្មែរ, hoặc trang trọng hơn là ខេមរភាសា, là ngôn ngữ của người Khmer và là ngôn ngữ chính thức của Campuchia. Với chừng 16 triệu người nói, đây là ngôn ngữ phổ biến thứ hai trong ngữ hệ Nam Á (sau tiếng Việt).Tiếng Khmer được ảnh hưởng một cách đáng kể bởi tiếng Phạn và Pali qua Ấn Độ giáo và Phật giáo, đặc biệt trong phạm vi ngôn ngữ hoàng gia và tôn giáo. Tiếng Khmer thông tục có tác động và cũng bị ảnh hưởng một phần nhỏ bởi tiếng Thái, tiếng Lào, tiếng Việt, và tiếng Chăm, ngược lại các ngôn ngữ trên cũng bị ảnh hưởng bởi tiếng Khmer do sự gần gũi địa lý và ảnh hưởng văn hóa lâu dài, tạo nên một vùng ngôn ngữ Đông Nam Á. Đây cũng là ngôn ngữ Môn–Khmer được được ghi nhận sớm nhất và có hệ chữ viết lâu đời nhất, trước tiếng Môn và rất lâu trước tiếng Việt</li>
                           <li>- Văn hóa của người Khmer tập trung quanh chùa và có nền văn hóa nghệ thuật độc đáo. Trong mỗi chùa có nhiều sư và thanh niên người Khmer trước khi trưởng thành thường đến chùa tu học để trau dồi đức hạnh và kiến thức. Người Khmer có tiếng nói và chữ viết riêng, nhưng cùng chung một nền văn hóa, một lịch sử bảo vệ và xây dựng tổ quốc đất nước ta.</li>
                       </ul>
                    </p>
                </div>
                <div class="col-lg-6 mt-5 pl-lg-4">
                    <img src="~/images/chùa Sleng.jpg" alt="" class="img-fluid">
                </div>


            </div>
        </div>
    </div>
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/images/Tongiao.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-4">
                    <div class="title-content text-left mb-2">
                        <h3 class="hny-title">
                            Đời sống và Tín ngưỡng:
                        </h3>
                    </div>
                    <p class="mt-3">
                       <ul>
                           <li>
                               - Họ sống bằng nghề trồng lúa nước và thủ công mỹ nghệ. Người Khmer có ngôn ngữ riêng và duy trì đặc điểm cư trú riêng. Tết cổ truyền của người Khmer là dịp để đoàn kết cộng đồng và tưởng nhớ tổ tiên. Trang phục truyền thống của người Khmer bao gồm áo srây, áo wên và khăn quấn Kama. Ngày nay, người Khmer chỉ mặc trang phục truyền thống trong những dịp quan trọng như ngày hội, ngày cưới hoặc lễ Tết cổ truyền.
                           </li>
                           <li>- Người Khmer Nam Bộ hầu hết đều theo tín ngưỡng Phật giáo, hệ phái Nam Tông. Di sản đặc sắc nhất của văn hoá Khmer cũng chính là nghệ thuật và kiến trúc chùa tháp. Người Khmer lớn lên được tu dưỡng trong tinh thần Phật pháp, học giáo lý Phật và học văn hoá tại chùa trước khi bước vào cuộc sống tự lập của người trưởng thành. Đặc biệt, tín ngưỡng thờ Neak-ta (một vị thần bảo hộ phum sóc, gia đình) mang đậm nét văn hóa truyền thống của đồng bào Khmer. Các hoạt động văn hóa tín ngưỡng của người Khmer được tổ chức nhằm khuyên răn con người sống có đạo lý, tránh xa cái xấu, cái ác. Đồng bào dân tộc Khmer sống tập trung đông nhất là ĐBSCL. Ở đây, họ có quan hệ tốt đẹp với người Kinh, người Hoa và cùng đoàn kết chống thực dân, đế quốc giành độc lập dân tộc. Theo truyền thống, con trai người dân tộc Khmer lớn lên là phải đi tu một thời mới tròn đạo nghĩa.</li>
                       </ul>
                    </p>
                </div>
                <div class="col-lg-6 mt-5 about-right-faq align-self order2">
                    <div class="title-content text-left mb-2">
                        <h3 class="hny-title">Vị trí hiện tại và ảnh hưởng</h3>
                    </div>
                    <p class="mt-3">
                        <ul>
                            <li>- Người Khmer (Khơ-me, Khmer, tiếng Khmer: ខ្មែរ) hay Cao Miên (高棉) là một dân tộc cư trú phần lớn ở Campuchia và một số ở nửa phía nam bán đảo Đông Dương. Họ chiếm khoảng 97% dân số tại Campuchia và cũng có sự hiện diện tại Việt Nam, Thái Lan, và Lào </li>
                            <li>- Ngôn ngữ của người Khmer là tiếng Khmer, một ngôn ngữ thuộc ngữ tộc Môn-Khmer trong ngữ hệ Nam Á, và có mặt khắp Đông Nam Á. Tại Campuchia, chính phủ phân loại công dân làm ba nhóm Khmer: Người Khmer Kandal (Khmer trung tâm), Khmer Islam (Khmer Hồi giáo), và Khmer Loeu (Khmer vùng cao)</li>
                            <li>- Ở Việt Nam, người Khmer cư trú chủ yếu ở các tỉnh Sóc Trăng, Trà Vinh, và Kiên Giang. Họ có truyền thống văn hóa lâu đời, đặc sắc, phong phú, thể hiện trong nghệ thuật ca múa nhạc, văn học, lễ hội, tôn giáo, và nghệ thuật kiến trúc chùa, trang phục truyền thống</li>
                            <li>- Dân tộc Khmer có nền văn hóa phát triển đa dạng, gắn liền với những tín ngưỡng mang sắc thái riêng, ảnh hưởng đậm nét văn hóa Ấn Độ và Phật giáo. Phật giáo đóng vai trò quan trọng và có vị trí cao nhất trong mọi lĩnh vực của đời sống người Khmer ở Đồng bằng sông Cửu Long </li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-6 mt-5 pl-lg-4">
                    <img src="~/images/anhhuong.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!--//content-5-->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>


