
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Tìm hiểu về dân tộc &amp; <br> lễ hội của người Khmer.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Những lễ hội đặc sắc</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Những ngôi chùa nổi bật</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
           </div>
        </div>

</section>
<!-- //banner-slider-->
<!-- //bottom-grids -->
<!-- //bottom-grids -->
<!-- /content-3-->
<section class="w3l-content-3">
    <!-- /content-3-main-->
    <div class="content-3-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/images/chùa Sleng.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-5">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">Giới thiệu về chùa</h6>
                        <h3 class="hny-title">
                            Chùa Sleng MeanChey
                        </h3>
                    </div>
                    <p class="mt-3">
                        Chùa SLeng Cũ (Sleng Mean Chhây) hay còn được gọi là Chùa Cũ. Pháp danh Salenmanjay, được xây dựng năm 1650, tọa lạc tại ấp Bến Chùa, xã Phước Hưng, huyện Trà Cú, tỉnh Trà Vinh với diện tích 26.000 mét vuông.
                    </p>
                </div>
            </div>
        </div>
        </div>
</section>
<!-- //content-3-->
<!-- /features-4 -->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h6 class="sub-title">Lễ hội</h6>
                <h3 class="hny-title">Các lễ hội lớn</h3>
                <p class="fea-para">Đây là các lễ hội lớn của người dân</p>
            </div>
            <div class="row features4-grids text-left mt-lg-4">
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-1">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"></div>
                                        <div class="ch-info-back">
                                            <h4>Tìm hiểu thêm</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  

                        <div class="features4-rightinfo">
                            <h5><a href="@Url.Action("Lehoi1","Home")">Lễ Chol Chnam Thmay</a></h5>
                            <p>Lễ Chol Chnam Thmay – Têt cổ truyền của đồng bào Khmer.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-2"></div>
                                        <div class="ch-info-back">
                                            <h4>Tìm hiểu thêm</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Lễ Chôl Vôsa
                                </a>
                            </h5>
                            <p>Với đồng bào Khmer Nam Bộ, Lễ Nhập hạ vô cùng quan trọng.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-3">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-3"></div>
                                        <div class="ch-info-back">
                                            <h4>Tìm hiểu thêm</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Lễ Cúng ông bà
                                </a>
                            </h5>
                            <p>Trong lễ Dolta, hội đua bò là điểm nhấn đặc biệt.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-4">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-4"></div>
                                        <div class="ch-info-back">
                                            <h4>Tìm hiểu thêm</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Lễ Ok Om Bok
                                </a>
                            </h5>
                            <p>Đua ghe Ngo trong Lễ Ok Om Bok.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//features-4 -->
<!-- middle -->
<div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-left py-3">
            <div class="title-content">
                <h6 class="sub-title">Gọi cho chúng tôi</h6>
                <h3 class="hny-title two mb-2">Nếu có thắc mắc về các lễ hội dân tộc người Khmer</h3>
                <p>
                    Liên hệ ngay cho chúng tôi!!<a href="tel:+(84) 977 831 549">
                        0977 831 549
                    </a>
                </p>

            </div>
            <a href="services.html" class="btn btn-white mt-md-5 mt-4 mr-sm-2">Các lễ hội</a>
            <a href="contact.html" class="btn btn-white-active btn-primary mt-md-5 mt-4">Contact Us</a>
        </div>
    </div>
</div>
<!-- //middle -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});
	});
</script>
<!--//-->
<script src="~/js/theme-change.js"></script>
<script src="~/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false
          }
        }
      })
    })
</script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- stats number counter-->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>