
@{
    ViewBag.Title = "Lễ hội khác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h3 {
        text-align: center;
        text-transform: none;
    }

    p {
        padding: 1rem;
        text-indent: 62px;
        margin: 38px;
        font-size: 1em;
        line-height: 24px;
        color: var(--font-color);
        font-family: 'Poppins', sans-serif;
    }

    h4 {
        text-indent: 100px;
    }

    h5 {
        text-align: center;
    }

    img {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
    }

    .wp-caption p.wp-caption-text {
        text-align: center;
        margin: 0;
        padding: 6px;
        font-weight: 400;
        font-style: italic;
        line-height: 18px;
    }
</style>
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
        </div>
    </div>
</section>

<h3 class="hny-title">
    Các lễ hội khác
</h3>
<p>
    Ngoài những lễ hội định kỳ hàng năm, người Khmer Nam bộ còn tổ chức nhiều lễ không định kỳ, đây là những lễ không quy định về thời gian, chẳng hạn như Lễ kiết giới Sâyma, lễ cưới, lễ tang… một số lễ không được tổ chức định kỳ thường gặp:<br />
    &emsp;&emsp;&emsp;&emsp;Lễ An vị tượng Phật (Bon Putthea Phi Sek), Lễ an vị tượng Phật có nghĩa là tôn trí đức Phật vào một nơi cố định để hằng ngày các vị sư sãi, bà con đến để đốt nhang đọc kinh. Lễ được tổ chức trang trọng nhằm đem tượng Phật vào chùa thờ, nếu không làm lễ này thì tượng Phật không đủ quy cách và điều kiện để đặt tại chùa.<br />
    &emsp;&emsp;&emsp;&emsp;Lễ khánh thành Chính điện hay còn gọi là Lễ Kiết giới Sâyma (Bon Seyma). Lễ chỉ diễn ra khi ở ngôi chùa Khmer vừa xây xong hoặc đại trùng tu ngôi chính điện. Lễ thường diễn ra trong 3 ngày, bà con Khmer đến rất đông để chúc mừng cho chùa và cầu phúc cho bản thân cùng gia đình, và họ tin rằng trong đời ai tham dự được 9 lần lễ Kiết giới Sâyma thì kiếp sau sẽ được làm người giàu sang danh giá.<br />
    &emsp;&emsp;&emsp;&emsp;Lễ Ngàn núi (Bon Phnôm Pôn). Đây là nghi lễ làm phước với mục đích xin lỗi thú vật tha thứ cho con người, được tổ chức vào mùa hạ (khoảng tháng giêng đến tháng ba âm lịch kéo dài từ 2 đến 3 ngày dưới sự hướng dẫn của vị Achar hay sư sãi). Theo quan niệm trong dân gian, người Khmer cho rằng đối với mọi sinh vật họ đều có lỗi vì đã giết chúng để ăn thịt. Họ lo sợ khi con người qua đời sẽ bị các loài thú kéo nhau trả thù và linh hồn người chết phải xuống địa ngục, do đó, đồng bào trong phum sóc hàng năm thường tổ chức Bon Phnôm Pôn để tạ lỗi. Lễ này cũng tương tự như Lễ đắp núi cát trong dịp tết Chôl Chnăm Thmây nhưng về quy mô lớn hơn nhiều.<br />
    &emsp;&emsp;&emsp;&emsp;Lễ Chúc thọ (Bon Châm Rơn Preak Chôl). Đây là lễ nhằm báo ơn, đáp nghĩa những người có công lao nuôi dỡng, dạy dộ mình như ông bà cha mẹ, thầy cô giáo.<br />
    &emsp;&emsp;&emsp;&emsp;Lễ Dâng bông (Bôn Phka). Đây có thể gọi là Lễ làm phước, vì khi người Khmer cần xây dựng các công trình như đường xá, trường học, chùa… thì họ tổ chức lễ này nhằm quyên góp tiền của để xây dựng, lễ thường tổ chức tại chùa do các vị sư sãi trong chùa chủ trì.<br />
    &emsp;&emsp;&emsp;&emsp;Lễ Cầu an (Bon Kâm San Srok). Đây là lễ được người Khmer tổ chức sau mùa vụ với mục đích mừng thành quả lao động vất vả sau mấy tháng và cầu cho xóm làng vui khỏe, trúng mùa vụ sau. Lễ này do từng gia đình tổ chức hoặc nhiều nhà cùng tổ chức và thỉnh vị sư đến tụng kinh cầu phước.<br />
    &emsp;&emsp;&emsp;&emsp;Ngoài những lễ thường thấy đã trình bày, người Khmer Nam bộ còn nhiều lễ hội khác nữa được tổ chức trong năm, có những lễ nằm trong lễ chẳng hạn trong Lễ tết Chôl Chnăm Thmây có Lễ tắm Phật, Lễ cầu siêu cho những người đã khuất hay lễ đắp núi cát… Có một số lễ vẫn còn giữ được giá trị nguyên bản và có một số lễ không còn phổ biến nữa chẳng hạn lễ “cắt tóc để trả ơn mụ” giờ được thay thế bằng việc tổ chức đầy tháng cho bé hay lễ cưới của người Khmer hiện nay thì các nghi lễ thuần túy cũng có nhiều thay đổi do quá trình cộng cư với người Kinh, Hoa và các dân tộc khác và chịu ảnh hưởng của sự giao thoa văn hóa giữa các dân tộc.<br />

</p>

