
@{
    ViewBag.Title = "Chol Chnam Thmay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h3 {
        text-align: center;
        text-transform: none;
    }

    p {
        padding: 1rem;
        text-indent: 62px;
        margin: 38px;
        font-size: 1em;
        line-height: 24px;
        color: var(--font-color);
        font-family: 'Poppins', sans-serif;
    }

    h4 {
        text-indent: 100px;
    }

    h5 {
        text-align: center;
    }

    img {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
    }

    .wp-caption p.wp-caption-text {
        text-align: center;
        margin: 0;
        padding: 6px;
        font-weight: 400;
        font-style: italic;
        line-height: 18px;
    }
</style>
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
        </div>
    </div>
</section>

<h3 class="hny-title">
    Chol Chnam Thmay
</h3>
<h4>Nguồn gốc</h4>
<p>
    Nguồn gốc của lễ hội Chôl Chnăm Thmây được lý giải bằng truyền thuyết liên quan đến câu chuyện chuyển giao tôn giáo từ Bà La Môn giáo sang Phật giáo, xoay quanh cuộc đấu trí giữa Đại Phạm Thiên (Kabul Maha Prum) và cậu bé thông minh Thom Ma Bal, một tiền kiếp của đức Phật. <br />

    &emsp;&emsp;&emsp;&emsp;Chuyện kể rằng, ngày xưa, có một cậu bé tên là Thom Ma Bal rất thông minh, 7 tuổi đã biết đem sự hiểu biết của mình truyền bá cho mọi người. Dân chúng rất thán phục và thích nghe cậu thuyết giảng. Tiếng đồn về tài trí của Thommabal chẳng mấy chốc vang đến thượng giới. Các vị thần cũng xuống trần gian xin nghe Thom Ma Bal thuyết giảng. Do vậy, những buổi thuyết giảng của thần Kabul Maha Prum trên thượng giới ngày càng vắng vẻ.

    Thần Kabul Maha Prum vốn rất có uy trên thượng giới, nay nghe ở trần gian có kẻ hơn mình nên rất tức giận. Thần cho gọi hết các vị thần tiên trở về, không cho xuống trần gian nghe thuyết giảng. Đồng thời tìm cách hãm hại Thom Ma Bal. Thần đặt ra ba câu hỏi và bắt Thom Ma Bal trả lời trong vòng 7 ngày. Thần giao ước, nếu cậu bé không trả lời được thì cậu phải dâng mạng sống của mình cho Thần. Ngược lại, Thần sẽ tự tay chặt đầu mình nếu Thom Ma Bal trả lời chuẩn xác ba câu hỏi.

    Thom Ma Bal suy nghĩ suốt ngày đêm mà vẫn không tìm được lời giải đáp. Đến ngày thứ sáu, chàng đi lang thang mệt mỏi, thất vọng, ngồi nghỉ dưới cây thốt nốt, tình cờ nghe được lời giải từ hai con chim đại bàng.

    Đúng hẹn, thần Kabul Maha Prum tay cầm gươm vàng, đáp xuống gặp Thom Ma Bal. Chàng trả lời đúng câu hỏi của thần. Thua cuộc, thần tự cắt đầu mình, tự sát.

    Trước khi cắt, thần căn dặn những người con gái của mình hãy để đầu của ông trên một khay vàng và giữ nó trong một tòa tháp trên đỉnh Prassume, bởi, nếu để đầu ông rơi xuống biển, biển sẽ cạn, nếu để đầu của ông trên không thì trời không mưa, và nếu để đầu ông xuống đất, thì đất sẽ khô cằn, cỏ cây không mọc được.

    Thần Kabul Maha Prum cũng không quên khuyên các con gái của mình hằng năm thay phiên nhau xuống trần gian để bảo vệ người dân hạ giới và phù hộ cho một năm bình an, mùa màng bội thu.

    Từ đó về sau, hằng năm, cứ đến ngày thần Kabul Maha Prum cắt đầu, bảy tiên nữ con gái thần thay phiên nhau xuống trần gian, mang theo một mâm đầu của ông xuống núi Prassume rồi quay quanh chân núi ba vòng theo hướng mặt trời mọc.

    Người Khmer coi ngày đó là ngày đầu tiên của năm mới.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/chol.jpg" alt="Tet Chol Chnam Thmay">
    <p class="wp-caption-text">Tết Chol Chnam Thmay</p>
</div>
<h4>Các ngày lễ chính</h4>
<p>
    Đối với người Khmer, tháng 4 là điểm giao thời giữa mùa nắng và mùa mưa. Tại thời điểm này, cỏ cây trở lại tươi tốt và thiên nhiên trỗi dậy sức sống. Sự thay đổi, bừng lên của thiên nhiên đã được người Khmer quan niệm như sự khởi đầu của một năm mới. Việc tổ chức Tết Chôl Chnăm Thmây xuất phát từ mục đích cầu xin mùa khô qua mau để có thể bắt đầu mùa vụ mới.

    Do mang ý nghĩa chào đón mùa mưa và mùa màng mới và là lễ hội lớn nhất trong năm, nên ngày xưa Tết Chôl Chnăm Thmây kéo dài từ 10-15 ngày. Những thập niên gần đây, trong xu thế đơn giản hóa lễ hội nói chung, lễ hội này chỉ còn 3 ngày (chưa kể công việc chuẩn bị trong nhiều ngày trước đó).

    Ba ngày này được tính theo lịch của người Khmer Campuchia. Người Khmer do ảnh hưởng của khoa thiên văn truyền thụ từ Ấn Độ, họ tính đầu năm bằng hai lối vào: “Chôl” tính theo chuyển động của mặt trăng và đánh dấu việc thay đổi bằng biểu tượng của 12 con thú tượng trưng của con giáp trong một kỳ. “Chnăm” tính theo chuyển động của mặt trời. “Chôl” được tính vào tháng 4 dương lịch, còn “Chnăm” thì thay đổi theo trăng tròn hay khuyết.
    <br />
    &emsp;&emsp;&emsp;&emsp;Thường tổ chức khoảng đầu tháng Chét của lịch Phật giáo Khmer (khoảng giữa tháng 4 dương lịch, tương đương với tháng 3 âm lịch). Kéo dài trong 3 ngày, năm nhuận kéo dài 4 ngày, tên gọi mỗi ngày tết khác nhau: Ngày đầu tiên có tên: Maha Songkran (Chôl Sangkran Thmây), ngày thứ hai có tên: Wanabat (Wonbơf), ngày thứ ba có tên: Tngai Laeung Saka (Lơng Săk) và nếu năm nhuận cũng có tên là: Wonbơf. Trong các ngày này mọi người đi thăm hỏi lẫn nhau, chúc nhau tài lộc, sức khoẻ, phát đạt và cùng nhau tham gia các trò vui. Thời gian có khi kéo dài hơn tuần mới trở lại cuộc sống th­ường nhật.
</p>
<h4>Chuẩn bị</h4>
<p>Gia đình nào cũng tập trung ăn mặc đẹp, các trẻ em được may sắm những bộ quần áo mới. Mọi nhà đều sửa sang, quét dọn, trang trí lại, chuẩn bị đồ ăn thức uống đầy đủ cho những ngày tết. Trước đây người ta giã gạo, chà gạo sẵn, làm bánh. Ngày nay họ chuẩn bị gạo đầy đủ, cùng các đồ ăn như bánh trái, hoa quả, cá, thịt, rau... tất cả đều sẵn sàng. Mọi công việc thường ngày đều dừng lại, mọi người nghỉ ngơi, trâu bò thả tự do. Người người hào hứng chăm lo cho ngày tết. Sửa sang nhà cửa, chuồng trâu chuồng bò đều phải đầy rơm đầy rạ.</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/ChuanbitetChol Chnam Thmay.jpg" alt="Chuan bị don tet">
    <p class="wp-caption-text">Hình ảnh người dân tất bật chuẩn bị cho Lễ tết Chôl Chnăm Thmây vào đầu năm mới</p>
</div>
<h4>Đêm giao thừa</h4>
<p>Nhà nào cũng làm cỗ, thắp hương, đốt đèn, cúng tiễn đưa vị Têvôđa cũ, đón rước Têvôđa mới. Trên bàn thờ có bày sẵn năm nhánh hoa, 5 cây đèn cầy, 5 cây nhang, 5 hạt cốm và nhiều loại cây quả. Cả gia đình ngồi xếp chân trước bàn thờ tổ tiên, khấn vái, mong và tin rằng sẽ được thần ban phước lành.
<br />
    &emsp;&emsp;&emsp;&emsp;Cha mẹ, ông bà tập hợp con cháu, ngồi xếp chân về một phía trước bàn thờ tổ tiên, đốt nhang đèn, vái ba vái để tiễn đưa Têvôđa cũ và rước Têvôđa mới, mong được ban phúc lành.

    Họ tin rằng Têvôđa là vị thần được trời sai xuống chăm sóc dân chúng trong thời hạn một năm, hết thời gian này sẽ có vị thần khác xuống thay thế.

    Đối với người Khmer, chùa là nơi tôn nghiêm và cũng chính là ngôi nhà chung của cả cộng đồng. Vì vậy tất cả các lễ hội đều tập trung tại chùa, đặc biệt là lễ đón Tết Chôl Chnăm Thmây.
</p>
<div style="width: 1722px;" class="wp-caption aligncenter">
    <img src="~/images/Giaothua.jpg" alt="Giao thua">
    <p class="wp-caption-text">Đêm giao thừa đón Tết Chôl Chnăm Thmây</p>
</div>
<h4>Ngày Chôl Sangkran Thmây</h4>
<p>
    Trong ngày Tết đầu tiên, người Khmer sẽ chọn giờ tốt nhất trong ngày, tắm gội sạch sẽ, mặc quần áo đẹp, trang trọng và lịch sự, mang theo lễ vật nhang đèn vào chùa làm lễ rước Đại lịch “Maha Sangkran,” đồng thời diễu hành 3 vòng xung quanh chính điện để đón chào Têvôđa.

    Dưới sự hướng dẫn nghi lễ của vị Achar (cư sĩ thành viên ban quản trị chùa) được tôn kính nhất trong chùa, tất cả cùng cầu nguyện, mong Năm mới Têvôđa về hộ trì cho mọi người luôn được ấm no, hạnh phúc. Sau đó là lễ Phật.

    Tối đến các trò chơi dân gian cùng các vũ điệu như hát, múa dukê, robăm, ramvông... được mọi người thưởng ngoạn và tham gia rất náo nhiệt.
</p>
<div style="width: 1722px;" class="wp-caption aligncenter">
    <img src="~/images/ngaydautien.png" alt="NgàyChôlSangkranThmây">
    <p class="wp-caption-text">Ngày Chôl Sangkran Thmây</p>
</div>
<h4>Ngày Wonbơf</h4>
<p>
    Mọi người lên chùa làm lễ dâng cơm  sáng và trưa cho các vị sư. Theo phong tục của người Khmer, vào các ngày lễ, Tết, mọi người tỏ lòng thành tâm tín ngưỡng bằng cách mang cơm, thức ăn và các loại bánh  đến cho các sư sãi.

    Đáp lại, các nhà sư sẽ làm lễ tạ ơn những người đã làm ra hạt gạo, đã trồng trọt, chăn nuôi, tạo cho cuộc sống ấm no, đầy đủ. Sau khi làm lễ đưa thức ăn đến cho linh hồn những người đã khuất, các nhà sư làm lễ chúc phúc cho những người đã có lòng mang lễ vật đến cúng chùa.

    Buổi chiều theo sự hướng dẫn của vị Achar người ta làm lễ “Đắp núi cát” (Puôn phnôm khsach) ngay tại khuôn viên chùa để mong gặp được điều lành. Tập tục này gắn với thuật cầu mưa của người xưa.
</p>
<div style="width: 1722px;" class="wp-caption aligncenter">
    <img src="~/images/Dangcom.png" alt="Dang Com">
    <p class="wp-caption-text">Lễ “dâng cơm”</p>
</div>
<h4>Ngày Lơng Săk</h4>
<p>
    Vào ngày này, các phật tử Khmer mang thức ăn và hoa quả đến chùa từ sớm để dâng cho các vị sư. Sau khi thọ thực xong, thì các nghi lễ tắm Phật chính thức bắt đầu.

    Các nhà sư dùng những cành hoa để vẩy những giọt nước tinh khiết có ướp hương hoa thơm ngát lên tượng Phật. Trong làn khói hương, người Khmer thành tâm khấn nguyện cầu mong Trời Phật gia hộ cho dân làng được dồi dào sức khỏe, ruộng rẫy tốt tươi và được mùa. Họ cũng cầu Têvôđa hộ trì cho phum, sóc an lành, mọi người tai qua nạn khỏi và đạt thành những điều ước nguyện.

    Tiếp theo đó là lễ Băngskôl (cầu siêu). Các vị sư được mời đến tháp lưu giữ hài cốt của những người quá cố để cầu kinh cho linh hồn họ được siêu thoát.

    Đến trưa mọi người về nhà làm lễ tắm tượng Phật thờ trong từng gia đình, rồi chúc mừng ông bà, cha mẹ và dâng bánh để tạ ơn. Cũng có khi họ tổ chức lễ tắm ông bà, cha mẹ, gọi là để báo hiếu.

    Trong ba ngày Tết Chôl Chnăm Thmây, bà con còn đi thăm hỏi, mừng tuổi Năm mới cho nhau, chúc nhau sức khỏe, cuộc sống yên vui, phát đạt. Tối đến, nhiều hoạt động như thả diều, đánh quay lửa...; các cụ già kể chuyện thần thoại, cổ tích cho con cháu; thanh niên trai, gái tham gia các cuộc hát đối đáp aday, hát dukê, diễn roban, múa ramvông, romxaravan, múa trống xàdăm...

    Ngoài dấu ấn Phật giáo đậm nét, Tết Năm mới của đồng bào Khmer còn thấy dấu ấn của đạo Bàlamôn qua việc người dân rất chú trọng cúng dường chư thiên bằng nhiều món hoa quả khác nhau theo từng ngày trong 3 ngày Tết này.

    Đây cũng là dịp đồng bào tưởng nhớ và cúng bái tổ tiên, cúng dường các sư và thỉnh các nhà sư tụng kinh nơi tháp cốt để cầu siêu cho người thân đã khuất.
</p>
<div style="width: 1722px;" class="wp-caption aligncenter">
    <img src="~/images/TamPhat.png" alt="TamPhat">
    <p class="wp-caption-text">Lễ tắm Phật</p>
</div>


<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>