
@{
    ViewBag.Title = "Pithi Sene Dolta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h3 {
        text-align: center;
        text-transform: none;
    }

    p {
        padding: 1rem;
        text-indent: 62px;
        margin: 38px;
        font-size: 1em;
        line-height: 24px;
        color: var(--font-color);
        font-family: 'Poppins', sans-serif;
    }

    h4 {
        text-indent: 100px;
    }

    h5 {
        text-align: center;
    }

    img {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
    }

    .wp-caption p.wp-caption-text {
        text-align: center;
        margin: 0;
        padding: 6px;
        font-weight: 400;
        font-style: italic;
        line-height: 18px;
    }
</style>
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
        </div>
    </div>
</section>
<h3 class="hny-title">
    Lễ Pithi Sene Dolta
</h3>
<h4>Thời gian</h4>
<p>
    Lễ hội Sen Dolta (còn gọi là Ph’chum-Banh) là một nghi lễ truyền thống lớn nhất trong năm của người Khmer. Ngày lễ này rất giống với lễ cúng ông bà, tổ tiên trong văn hóa người Việt nên có thể hiểu với nghĩa Lễ Vu Lan hay gọi lễ ‘Xá tội vong nhân”, Lễ hội bắt đầu tổ chức vào ngày 29/8 âm lịch hàng năm và kéo dài trong vòng 3 ngày. Theo tiếng của người Khmer, “Sen” có nghĩa là cúng, Dol có nghĩa là “bà”, Ta có nghĩa là “ông”. Lễ Sen Dolta có ý nghĩa giống với lễ Vu Lan của người Việt. Lễ hội này được tổ chức nhằm tưởng nhớ đến công ơn ông bà, cha mẹ và người thân; thể hiện thái độ tạ ơn đối với những người đã khuất, cầu mong cho gia đạo được bình an.<br />
    &emsp;&emsp;&emsp;&emsp;Theo nghi lễ truyền thống, lễ hội Sen Dolta được tổ chức trong suốt ba ngày hàng năm, từ ngày 29/8 đến 1/9 âm lịch.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/lễ-hội-Sen-Dolta-lamle.jpg" alt="Người Khmer thực hiện các nghi lễ trong dịp lễ Sen Dolta">
    <p class="wp-caption-text">Người Khmer thực hiện các nghi lễ trong dịp lễ Sen Dolta</p>
</div>
<h4>Nghi thức truyền thống</h4>
<p>
    Ngày đầu tiên<br />
    &emsp;&emsp;&emsp;&emsp;Trước tiên, mỗi gia đình đều dọn dẹp nhà cửa khang trang, lau chùi bàn thờ tổ tiên sạch sẽ, trang hoàng lộng lẫy. Sau đó, dọn bốn chén cơm ngon trên mỗi bàn, đốt đèn rồi mời mọi người trong gia đình cùng cúng. Mọi người cùng nhau khấn vái và rót trà để mời linh hồn những họ hàng đã quá cố về nhà ăn uống, nghỉ ngơi. Đến chiều, họ tắm rửa sạch sẽ, cúng linh hồn ông bà và sau đó mời ông bà cùng họ đi vào chùa nghe sư sãi tụng kinh lấy phước. Tại chùa, phần lễ sắc thái tôn giáo, tín ngưỡng được tổ chức, hoạt động khác mang tính hội hè như du kê, Lò-khol Bác-sắc, múa Lâm-thol…
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/khuonvienchuaduocdondep.jpg" alt="Khuôn viên chùa được dọn dẹp cẩn thận và khang trang chuẩn bị cho lễ Sen Dolta">
    <p class="wp-caption-text">Khuôn viên chùa được dọn dẹp cẩn thận và khang trang chuẩn bị cho lễ Sen Dolta</p>
</div>
<p>
    Ngày thứ hai <br />
    &emsp;&emsp;&emsp;&emsp;Sau khi đã ở chùa suốt một ngày – đêm, đến chiều mọi người cùng nhau rước linh hồn ông bà từ chùa về nhà để mời cơm và mời ở nhà chơi với con cháu đến khi lễ kết thúc mới trở lại chùa.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/Người-Khmer-mang-le-vao-chua-trong-Dolta.jpg" alt="Người dân mang kễ vào chùa">
    <p class="wp-caption-text">Người dân mang kễ vào chùa</p>
</div>
<p>
    Ngày thứ ba <br />
    &emsp;&emsp;&emsp;&emsp;Mỗi gia đình lại chuẩn bị thức ăn, bánh trái như ngày đầu để cúng ông bà tại nhà trước khi tiễn linh hồn người quá cố ra đi. Vì vậy, buổi cúng này gọi là “cúng tiễn đưa”. Khi mọi nghi thức cúng vái hoàn tất thì cũng là lúc lễ Dolta xem như kết thúc.<br />
    &emsp;&emsp;&emsp;&emsp;Kết thúc lễ Dolta là nghi lễ đưa tiễn ông bà. Do cuộc sống gắn với miền sông nước nên người Khmer thường chế tác thuyền đưa tiễn ông bà từ bẹ chuối với hình nộm người chèo lái. Trong thuyền còn được đặt nhiều vật dụng như lộ phí, bánh trái, nước ngọt được làm bằng giấy.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/Thagheduaongba.jpg" alt="Nguongoc">
    <p class="wp-caption-text">Nghi thức thả ghe đưa ông bà tổ tiên về cội nguồn</p>
</div>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>