
@{
    ViewBag.Title = "Lễ hội Dâng Y Kathinat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h3 {
        text-align: center;
        text-transform: none;
    }

    p {
        padding: 1rem;
        text-indent: 62px;
        margin: 38px;
        font-size: 1em;
        line-height: 24px;
        color: var(--font-color);
        font-family: 'Poppins', sans-serif;
    }

    h4 {
        text-indent: 100px;
    }

    h5 {
        text-align: center;
    }

    img {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
    }

    .wp-caption p.wp-caption-text {
        text-align: center;
        margin: 0;
        padding: 6px;
        font-weight: 400;
        font-style: italic;
        line-height: 18px;
    }
</style>
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
        </div>
    </div>
</section>

<h3 class="hny-title">
    Lễ hội Dâng Y Kathinat
</h3>
<h4>Ý Nghĩa</h4>
<p>
    Theo các tư liệu Phật giáo còn lưu lại, dâng y Kathina là một trong những đại lễ duy nhất tồn tại từ thời Đức Phật. Đây là một trong những lễ lớn và quan trọng nhất của hệ phái Phật giáo Nguyên thủy (ở Việt Nam thường gọi là Phật giáo Nam tông hay Phật giáo Tiểu thừa). Đối với những người theo đạo Phật, đại lễ này mang một ý nghĩa hết sức to lớn, là cơ hội tốt để tạo phước duyên, gặt hái “quả” thiện.
</p>
<h4>Nguồn gốc lễ Dâng Y</h4>
<p>
    Theo đó, vào thời Đức Phật tại thế, ngài và chư tăng có nếp sống du phương để hoằng hoá. Tỳ - khưu thời đó thường được nhận diện thông qua pháp phục tam y. Tất cả đều may theo hình chữ nhật.<br />

    &emsp;&emsp;&emsp;&emsp;Tam y gồm có, y nội (antaravasaka - an đà hội hay hạ trước y), y vai trái (uttarasangha - Uất đà la tăng hay thượng trước y), y kép (sanghati - tăng già lê hay trùng phục y). Vì là hình chữ nhật nên y phục phần lớn đều được chư tăng tự may cắt. Màu sắc thường là màu vàng, nghệ, nâu.<br />

    &emsp;&emsp;&emsp;&emsp;Trong Phật giáo, kathina mang nghĩa là bền chặt, gắn kết hoặc không dễ bị vỡ vụn. Thuật ngữ này bao hàm ý nghĩa của sự bền vững thông qua các quy định quan trọng hướng đến viên mãn nhờ bố thí, cúng dường.<br />

    &emsp;&emsp;&emsp;&emsp;Ở tầng kiến giải khác, lễ kathina là những yếu tố thù thắng về tâm thí, thời thí, vật thí, người thọ thí và cung cách thí. Bởi chữ kathina còn được dịch là y công đức, có nghĩa là thọ lễ này sẽ được 5 công đức trong 5 tháng.<br />

    &emsp;&emsp;&emsp;&emsp;Một dị bản khác thì cho rằng, tầng nghĩa phía sau nhằm ám chỉ ý tứ “y thưởng thiện - phạt ác”. Nghĩa là, với thầy Tỳ-khưu an cư nhập Hạ đúng theo luật của Đức Phật thì sẽ có công đức, được thưởng y phục này. Trái lại, với những thầy phá an cư, đứt Hạ thì phạt bằng cách không được y này.<br />

    &emsp;&emsp;&emsp;&emsp;Lại nói, khi Đức Phật còn tại thế, sau quá trình hoằng pháp, ngài chuẩn bị an cư tại chùa Kỳ Viên (Anàtapindika) thành Xá Vệ (Savatthi), thì có một nhóm tăng đoàn khoảng 30 người xin đến được cùng an cư với Đức Phật. Được ngài đồng ý, tăng đoàn đã đến chùa Kỳ Viên, nhưng do đường xa, đi lại khó khăn, lại vào mùa mưa nên khi tới nơi, y áo đều bị ướt và rách nát.<br />

    &emsp;&emsp;&emsp;&emsp;Sau khi an cư, Đức Phật mới cho phép nới lỏng một số giới luật để tăng đoàn được lưu lại, may vá y phục mới trước khi tiếp tục lên đường hành pháp. Cũng chính tại đây, nữ thí chủ Visakha - một trong hai bậc hộ pháp của Phật giáo (người còn lại là Trưởng giả Sudatta) đã dâng y cho Đức Phật lần đầu tiên.<br />

    &emsp;&emsp;&emsp;&emsp;Mặc dù lịch sử và cách cắt nghĩa, diễn giải liên quan đến lễ kathina có nhiều dị bản, song có một số quy tắc mặc định trong việc dâng y hiện vẫn lưu truyền. Chẳng hạn: Mỗi chùa một năm chỉ tổ chức một lần dâng y kathina vào bất cứ ngày nào trong khoảng thời gian rằm tháng chín đến rằm tháng mười. Sau đó thì dù có người cúng một số tiền thật lớn để tổ chức thì chùa cũng không làm;<br />

    &emsp;&emsp;&emsp;&emsp;Phật tử chỉ có thể cúng dường nếu có chư tỳ khưu nhập Hạ tại chùa; Chỉ cúng dường đến đại chúng tăng già rồi chư tăng giao y theo nghi luật chứ không cúng trực tiếp cá nhân tỳ khưu nào.<br />

    &emsp;&emsp;&emsp;&emsp;Có lẽ vì nguyên nhân này nên người thành tâm thường không tự tay trực tiếp dâng y mà đặt y trước mặt đại tăng. Và đổi lại, chư tăng chỉ nhận bằng cách im lặng chứ không bằng tay; Chỉ một trong ba y được dùng để cử hành tăng sự; Cả hai giới xuất gia và tại gia đều có thể tổ chức lễ tăng y kathina; Với người mang lòng thành tâm, có thể dâng y may sẵn hoặc dâng vải để may y.<br />

    &emsp;&emsp;&emsp;&emsp;Dẫn những điều trên để thấy rằng, ý nghĩa của lễ dâng y kiên định và không chỉ đơn thuần nhằm khích lệ tín đồ phật tử thực thi đại hạnh bố thí, tri ân công đức của Đức Phật, tri ân công đức Tam bảo, công đức hàng phật tử hộ trì phật pháp… mà ẩn sau đó còn để nhắc nhở những phật tử nhớ về công đức của đàn tín.<br />

    &emsp;&emsp;&emsp;&emsp;Hiện nay, ở các chùa tu hành theo hệ phái Nguyên thủy, Đại lễ dâng y Kathina thường được cử hành tôn nghiêm, long trọng và thiêng liêng. Dù gọi là dâng y nhưng thời điểm cử hành lễ, các phật tử ngoài y phục, còn có thể dâng lên các phẩm vật khác như gạo, thuốc men, muối… nhằm tỏ lòng tri ân và sự chia sẻ khó khăn với những đệ tử xuất gia.<br />

    &emsp;&emsp;&emsp;&emsp;Đại lễ không chỉ tạo nên nhiều thuận duyên cho phật tử tại gia dâng y mà ngay cả với phật tử xuất gia mang nhiều ý nghĩa. Điều này có thể hiểu là, việc thụ y đúng thời, đúng pháp đã là một thắng duyên cho chư tăng trong mùa an cư. Ngoài ra, việc thụ y đúng pháp cũng sẽ sinh công đức bởi nhắc nhở chư Tăng tránh việc đam mê thụ hưởng, không những nguy hiểm cho bản thân mà còn tác hại đến những người khác.<br />
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/phatgiao-org-vn-Nhung-dieu-it-biet-ve-le-dang-y-Kathina.jpg" alt="LeDangY">
    <p class="wp-caption-text">Lễ Dâng Y Kathinat</p>
</div>
<script>
    $(window).on("scroll", function ()
    {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>

