
@{
    ViewBag.Title = "Ok Om Bok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h3 {
        text-align: center;
        text-transform: none;
    }

    p {
        padding: 1rem;
        text-indent: 62px;
        margin: 38px;
        font-size: 1em;
        line-height: 24px;
        color: var(--font-color);
        font-family: 'Poppins', sans-serif;
    }

    h4 {
        text-indent: 100px;
    }

    h5 {
        text-align: center;
    }

    img {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
    }

    .wp-caption p.wp-caption-text {
        text-align: center;
        margin: 0;
        padding: 6px;
        font-weight: 400;
        font-style: italic;
        line-height: 18px;
    }
</style>
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
        </div>
    </div>
</section>
<h3 class="hny-title">
    Ok Om Bok
</h3>
<h4>Nguồn gốc</h4>
<p>
    Theo truyền thuyết người Khmer, từ xa xưa trong dân gian có một con thỏ sống rất hảo tâm thích làm điều thiện và bố thí của cải vật chất để giúp đỡ cho những người nghèo khó. Tuy nhiên, của cải nhiều đến mấy thì cũng có ngày phải cạn, một hôm trong tay thỏ không còn bất cứ thứ gì để có thể giúp được người khác nữa, chú thỏ mới nảy ra 1 ý nghĩ làm các vị chư thần trên trời vô cùng hoang mang. Suy nghĩ ấy là: hôm nay, nếu có người nghèo nào cần bố thí, thì thỏ sẽ dâng thân xác của mình để giúp họ duy trì sự sống.<br />
    &emsp;&emsp;&emsp;&emsp;Để thử lòng thành của thỏ, một vị thần đã hạ phàm và biến thành một ông lão trông bộ dạng rất xác xơ và đang đi xin ăn. Ông lão đã đến tìm thỏ để xin được bố thí, thỏ không ngần ngại mà nói rằng hôm nay thỏ không còn chút gì để bố thí nữa nên mời ông lão hãy nhóm lửa lên để thỏ nhảy vào và khi đó ông sẽ có thức ăn. Không ngờ ông lão đã nhóm lửa lên thật, chú thỏ lúc này cũng không chút do dự mà nhảy vào đám lửa. Ngạc nhiên thay khi thỏ vừa nhảy vào thì lửa lập tức bị dập tắt và từ trong đấy nở ra 1 đóa hoa sen nâng thỏ lên cao. Sau đó, ông lão biến mất, và trên mặt trăng từ đó xuất hiện hình của một chú thỏ.<br />
    &emsp;&emsp;&emsp;&emsp;Tương truyền rằng chú thỏ này sau khi chết đã hóa thân thành Phật Thích ca Muni. Để tưởng nhớ đến sự kiện đó và cảm tạ thần mặt trăng đã độ trì chăm lo đời sống người dân suốt năm qua, người Campuchia tổ chức lễ hội Ok Om Bok.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/Thookombok.jpg" alt="Nguongoc">
    <p class="wp-caption-text">Hình ảnh minh họa</p>
</div>
<h4>Thời gian diễn ra lễ hội</h4>
<p>
    Lễ hội Ok Om Bok được tổ chức khi kết thúc vụ mùa. Theo tìm kiếm trên Google, lễ hội này thường diễn ra vào ngày 26 tháng 10 hàng năm. Tuy nhiên, các nguồn tin cũng đề cập đến ngày 7 tháng 11 năm 2022. Có thể ngày tổ chức lễ hội có thể thay đổi từ năm này sang năm khác, vì vậy nên tham khảo nguồn tin chính thức hoặc các thông báo mới nhất để biết chính xác ngày tổ chức lễ hội Ok Om Bok. Khi này người dẫn sẽ thực hiện một lễ hội truyền thống để cảm tạ thần Mặt Trăng đã mang đến cho họ mùa màng bội thu, ấm no.
</p>
<h4>Nghi thức chính trong buổi lễ</h4>
<p>
    Đối với người Khmer, mặt trăng được xem như một vị thần nên trong ngày này, mọi nhà đều tham gia lễ Cúng Trăng. Mỗi gia đình sẽ chuẩn bị lễ vật cúng Trăng và đặt ở trước sân nhà. Còn tại các ngôi chùa thì cũng sẽ tiến hành tương tự nhưng mâm cúng sẽ lớn hơn.

    Để chuẩn bị Lễ vật Cúng Trăng gồm cốm dẹp, khoai lang, khoai môn, trái cây, bánh kẹo... bà con phum sóc chuẩn bị cả tháng trước khi diễn ra lễ hội. Người Khmer lấy lúa nếp quết thành cốm dẹp cùng các hoa màu khác để làm lễ vật Cúng Trăng.<br />
    &emsp;&emsp;&emsp;&emsp;Thời điểm bất đầu cúng trăng là từ lúc mặt trăng nhô lên khỏi ngọn cây cho đến khi trăng gần đứng bóng. Sau khi cháy gần hết hương đã thắp, người lớn trong nhà sẽ gọi trẻ em đến và hỏi các điều ước, sau đó dùng tay đút cớm dẹp cùng với chuối vào miệng trẻ. Lúc này người được đút sẽ nói to nguyện vọng của mình và điều ước đó sẽ được gửi đến thần linh với hi vọng sẽ thành hiện thực. Sau đó mâm cổ sẽ được dọn mâm cổ xuống và cùng nhau hưởng lễ vật.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/cungtrangokombok.jpg" alt="Cungtrang">
    <p class="wp-caption-text">Lễ Cúng trăng</p>
</div>
<h4>Hội thả đèn gió tại chùa</h4>
<p>
    Sau phần nghi thức cúng trăng sẽ đến phần hội thả đèn gió. Những chiếc đèn lồng giấy được thả từ các ngôi chùa, mọi người cùng quây quần bên nhau ngắm đèn lồng bay cao và ước nguyện. Không khí lễ hội vô cùng thiêng liêng, nhiệm màu và ấm áp.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/thadengio.jpg" alt="Thadengio">
    <p class="wp-caption-text">Thả đèn gió</p>
</div>
<h4>Đua ghe ngo truyền thống là phần quan trọng trong lễ hội Ok Om Bok</h4>
<p>
    Buổi sáng hôm sau, các làng xã sẽ tổ chức các trò chơi dân gian, sinh hoạt văn nghệ và thi đấu các môn thể thao. Trong đó nổi bật nhất là hội đua ghe Ngo được hoàng gia tổ chức, đây cũng là nghi thức tôn giáo bày tỏ sự tưởng nhớ với linh vật tổ Naga và những trận Hải chiến của tổ tiên. Một chiếc ghe Ngo thường dài trêm 30m có thể chứa đến mấy chục tay bơi cường tráng. Mỗi một chiếc ghe Ngo đều được thiết kế cản thận tỉ mỉ nếu không sẽ rất dễ bị chìm trong quá trình đua và ghe Ngo cũng là hình ảnh đại diện cho mỗi phum srock nên mỗi cuộc đua ghe đều rất kịch tính và đầy hấp dẫn.<br />
    &emsp;&emsp;&emsp;&emsp;Lễ hội Ok Om Bok vừa là ngày lễ cúng trăng nhưng cũng là dịp người thân trong gia đình sum họp quay quần bên nhau sau những ngày làm việc vất vả. Đây cũng là dịp người Khmer ở Campuchia và các tỉnh miền tây Nam Bộ Việt Nam được vui chơi trong lễ hội và làm nên nét văn hóa đặc sắc riêng của dân tộc.
</p>
<div style="width: 1520px;" class="wp-caption aligncenter">
    <img src="~/images/duaghngo.jpg" alt="duaghe">
    <p class="wp-caption-text">Đua ghe ngo<p>
</div>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>